---
layout: default
title: Blog - Frelleto
---

<script type='text/javascript'>
  FrelletoBlog.posts = {% include Helper/FrelletoBlogPosts %}
</script>

<div id="home">
  {% include search.html %}
  <ul class="posts">
    <div class="post" ng-repeat="post in posts | filter:searchText">
      <li><span ng-bind-html-unsafe="post.date | highlight:searchText"></span> &raquo; <a ng-href="{{ '{{ post.url' }} }}" ng-bind-html-unsafe="post.title | highlight:searchText"></a></li>
      <p ng-bind-html-unsafe="post.subtitle | highlight:searchText"></p>
      <hr/>
    </div>
  </ul>
</div>
