<footer>
  <center>
    <p>&copy; Frelleto {{ Time.now.year }}</p>
    <a href="https://twitter.com/Frelleto" target="_blank">
      <img src="/images/icons/simpleicons/64/twitter_64.png" alt="Twiiter">
    </a>

    <a href="https://www.facebook.com/Frelleto/" target="_blank">
      <img src="/images/icons/simpleicons/64/facebook_64.png" alt="Facebook">
    </a>

    <a href="https://github.com/frelleto" target="_blank">
      <img src="/images/icons/simpleicons/64/github_64.png" alt="Github">
    </a>
  </center>
</footer>
