<head>
  <title>{{ page.title }}</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="HandheldFriendly" content="true" />
  <meta name="robots" content="ALL" />
  <meta name="description" content="Frelleto Blog">
  <meta name="keywords" content="frelleto, blog, freela, app, apps, aplicações, ruby, startup, web, sistemas, software, rails">

  <meta property="og:title" content="{{ page.title }} - Frelleto Blog"/>
  <meta property="og:site_name" content="blog.frelleto.com.br"/>
  <meta property="og:type" content="blog"/>
  <meta property="og:url" content="http://blog.frelleto.com.br">
  <meta property="og:description" content="Frelleto Blog">
  <meta property="og:image" content="http://blog.frelleto.com.br/images/frelletoblog-red.png"/>

  <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->

  <link href="/stylesheets/slate/bootstrap.css" rel="stylesheet">
</head>
