<!DOCTYPE html>
<html lang='pt'>
  {% include head.html %}
    <body class="preview" id="top" data-spy="scroll" data-target=".subnav" data-offset="80">
      {% include navbar.html %}
      <div class="container">
        <h3>{{ page.title }}</h3>
        <p class="meta">{{ page.date | date_to_string }} - {{ page.author }}</p>

        <div class="post">
          {{ content }}
        </div>
        
        <hr/>
        
        {% include disqus.html %}
      </div> <!-- /container -->
        
      <hr/>

      {% include footer.html %}

    </body>
</html>
